@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
*::selection{
    background: yellow;
    color:black;
}
html{
    font-size: 62.5%;
    overflow-x:hidden;
    
}
html::-weblit-scrollbar{
    width:1.4rem;
}
html::-weblit-scrollbar-track{
    background: #222;
}
html::-weblit-scrollbar-thumb{
    background: yellow;
}
body{
    background:#111;
    overflow: hidden;
    padding-left: 35rem;
}
section{
    min-height: 100vh;
    padding:1rem;
}
.btn{
    padding: .7rem 3rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}
.btn i{
    padding: fixed;
    font-size: 1.8rem;
}
.btn:hover{
    background: red;
}
.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}
.heading span{
color:yellow;
}
header{
    position: fixed; 
    top:0; left:0;
    z-index:1000;
    height:100%;
    width:35rem;
    background:#1a1a1a;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
header .user img{
    height:17rem;
    width: 17rem;
    border-radius:50%;
    object-fit: cover;
    margin-bottom:1rem; 
    border:.7rem solid yellow;
   
}
header .user name{
    font-size: large;
    color: #fff;
}
header .user post{
    font-size: 2rem;
    color: #eee;
}
header .navbar{
    width:100%;
}
header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}
header .navbar ul li a{
    display:block;
    padding:1rem;
    margin:2rem 0;
    background:#333;
    color:#fff;
    font-size:2rem;
    border-radius:5rem;
   
}
header .navbar ul li a:hover{
background:yellow;
}
#menu{
    position: fixed;
    top:2rem;
    right:2rem;
    background:#333;
    color:#fff;
    cursor:pointer;
    font-size:2.5rem;
    padding:1rem 1.5rem;
    z-index:1000;
    display:none;
}
@media(max-width:1200px){
    html{
        font-size: 55%;
    }
    .home{
        padding:1rem 4rem;
    }
}
@media(max-width:991px){
    header{
        left:-120%;
    }
  #menu{
    display:block;
  }
  header.toggle{
    left:0%;
  }
  body{
    padding: 0;
  }
}
.home{
    display:flex;
    justify-content: center;
    flex-flow: column;
    padding: 5rem 15rem;
}
.home h3{
    font-size: 2.5rem;
    color:white;
}
.home h1{
font-size: 5rem;
color:#fff;
}
.home h1 span{
color:blue;
}
.home p{
font-size: 2rem;
color:#eee;
padding:1rem 0;
}
.about .row{
display:flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
padding: 1rem 0;
}
.about .row .info{
    flex:1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 3rem;
}
.about .row .info h3{
    font-size: 2rem;
    color:yellow;
    padding: 1rem 0;
    font-weight: normal;
}
.about .row .info h3 span{
    color:#eee;
    padding: 8rem;
    border-bottom: 8rem;
}
.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5rem 0;
    padding-left: 3rem;
}
.education .box-container .box{
width:27rem;
margin:4rem 1rem;
padding-left: 4rem;
border-left: .2rem solid #fff;;
position:relative;
}
.education .box-container .box span{
    font-size:1.3rem;
    background: #222;
    color:#fff;
    border-radius: 4rem;
    padding: .5rem 2.5rem;
}
.education .box-container .box h3{
    font-size: 2rem;
    color:#fff;
    padding-top:1.5rem;
}
.education .box-container .box p{
    font-size: 1.4rem;
    color:#eee;
    padding-top:1rem 0;
}
.education .box-container .box i{
    position:absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width:5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:white;
    background: yellow;
}
